* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #ebdbb2;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ebdbb2;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #d79921;
  color: #282828;
}

#workspaces button.urgent {
  background-color: #fb4934;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#tray {
  margin: 2px 0;
  padding: 0 10px;
  background-color: #282828;
  border-radius: 5px;
}

#window,
#workspaces {
  margin: 0 4px;
  background-color: #282828;
  border-radius: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: #d79921;
}

#battery {
  color: #8ec07c;
}

#cpu {
  color: #d79921;
}

#memory {
  color: #cc241d;
}

#disk {
  color: #d3869b;
}

#backlight {
  color: #458588;
}

#pulseaudio {
  color: #ebdbb2;
}

#temperature {
  color: #fabd2f;
}
